<div
  class="container-fluid d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="row">
    <div class="col-12">
      <div class="auth-container" data-aos="fade-up" data-aos-delay="150">
        <!-- heading -->
        <app-user-auth-container-heading
          title="{{ 'RESET_PASSWORD_PAGE_TITLE' | translate }}"
          subtitle="{{ 'RESET_PASSWORD_PAGE_SUBTITLE' | translate }}"
        ></app-user-auth-container-heading>
        <!-- form -->
        <div class="form-container py-4 px-2">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Email Text Field -->
            <app-text-field
              [control]="emailControl"
              type="email"
              placeholder="{{ 'EmailPlaceholder' | translate }}"
              prefixIcon="fas fa-envelope"
              autocomplete="off"
              inputId="email"
            />
            <!-- Email Error Message -->
            @if (emailControl.touched || emailControl.dirty) {
              @if (emailControl.hasError("required")) {
                <app-form-error-message
                  [errorMessage]="'EmailIsRequired' | translate"
                ></app-form-error-message>
              } @else if (
                emailControl.hasError("email") ||
                emailControl.hasError("pattern")
              ) {
                <app-form-error-message
                  [errorMessage]="'InvalidEmail' | translate"
                ></app-form-error-message>
              }
            }
            <!-- Submit Button -->
            <div class="mt-4">
              <app-primary-button
                label="{{ 'RESET_PASSWORD' | translate }}"
                type="submit"
                [isLoading]="isLoading"
                [disabled]="isLoading"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
