<div class="form-container py-4 px-2">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- National ID Text Field -->
    <app-text-field
      [control]="loginForm.controls.nationalId"
      type="text"
      placeholder="{{ 'National_ID_Placeholder' | translate }}"
      prefixIcon="fas fa-id-card"
      autocomplete="off"
      inputId="nationalId"
      maxLength="10"
      [isNumeric]="true"
    />
    <!-- National ID Error Message -->
    @if (
      loginForm.controls.nationalId.touched ||
      loginForm.controls.nationalId.dirty
    ) {
      @if (loginForm.controls.nationalId.hasError("required")) {
        <app-form-error-message
          [errorMessage]="'National_ID_IsRequired' | translate"
        ></app-form-error-message>
      } @else if (
        loginForm.controls.nationalId.hasError("minlength") ||
        loginForm.controls.nationalId.hasError("maxlength")
      ) {
        <app-form-error-message
          [errorMessage]="'National_ID_Must_Be_10_Digits' | translate"
        ></app-form-error-message>
      }
    }
    <!-- Password Text Field -->
    <app-password-text-field
      [control]="loginForm.controls.password"
      placeholder="{{ 'PasswordPlaceholder' | translate }}"
      prefixIcon="fas fa-lock"
      autocomplete="current-password"
      inputId="password"
    />
    <!-- Password Error Message -->
    @if (
      loginForm.controls.password.touched || loginForm.controls.password.dirty
    ) {
      @if (loginForm.controls.password.hasError("required")) {
        <app-form-error-message
          [errorMessage]="'PasswordIsRequired' | translate"
        ></app-form-error-message>
      }
    }
    <!-- Forget Password and Remember Me -->
    <app-forget-password-and-remember-me />

    @if (serverErrorMessage) {
      <app-form-error-message [errorMessage]="serverErrorMessage" />
    }

    <!-- Submit Button -->
    <app-primary-button
      label="{{ 'LOGIN' | translate }}"
      type="submit"
      [disabled]="isLoading"
      [isLoading]="isLoading"
    />
  </form>
</div>
