<div class="screening-page container py-4">
  <h2 class="mb-4 text-center fw-bold">
    {{
      (sessionType === 1
        ? "SCREENING_PAGE_TITLE_AFTER_LOGIN"
        : "SCREENING_PAGE_TITLE_PRE_DONATION"
      ) | translate
    }}
  </h2>

  @if (isLoading()) {
    <app-loading></app-loading>
  }

  @if (errorMessage()) {
    <div class="alert alert-danger">
      {{ errorMessage() }}
    </div>
  }

  @if (!isLoading() && form) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formArrayName="answers" class="d-flex flex-column gap-3">
        @for (question of questions(); track question.id; let i = $index) {
          <app-screening-question-card
            [question]="question"
            [group]="answersFormArray.controls[i]"
          />
        }
      </div>
      <div class="mt-4">
        <app-check-box-input
          [control]="form.controls.iConfirm"
          inputId="iConfirm"
          label="{{ 'I_CONFIRM' | translate }}"
          name="iConfirm"
        />
        @if (form.controls.iConfirm.touched && form.controls.iConfirm.invalid) {
          <app-form-error-message
            [errorMessage]="'YouMustAgreeToTerms' | translate"
          ></app-form-error-message>
        }
      </div>
      <div class="mt-4">
        <app-primary-button
          label="{{ 'submit' | translate }}"
          type="submit"
          [disabled]="isSubmitting()"
          [isLoading]="isSubmitting()"
        >
        </app-primary-button>
      </div>
    </form>
  }
</div>
