<div class="loader-page" data-aos="zoom-in" data-aos-delay="600">
  <div class="loader-card">
    <button class="loader-qh-primary" type="button" disabled>
      <span class="heartbeat-loader" aria-hidden="true">
        <svg viewBox="0 0 120 60" class="heartbeat-svg">
          <path
            d="M5 35
               H28
               L42 35
               L50 8
               L61 52
               L73 18
               L82 40
               L89 22
               L96 35
               H115"
          />
        </svg>
      </span>

      <p class="loader-text">{{ "Loading" | translate }}</p>
    </button>
  </div>
</div>
