<div class="container-heading">
  <a class="container-heading-logo">
    <img
      data-aos="zoom-in-left"
      data-aos-delay="150"
      src="{{
        langService.currentLang == 'en'
          ? 'assets/images/Qatrah_Hayat_logo_footer.svg'
          : 'assets/images/Qatrah_Hayat_logo_ar_footer.svg'
      }}"
      alt="Logo"
      width="125"
      class="me-2"
    />
  </a>
  <h2
    class="container-heading-title"
    data-aos="zoom-in-left"
    data-aos-delay="200"
  >
    {{ title }}
  </h2>
  <p
    class="container-heading-subtitle"
    data-aos="zoom-in-left"
    data-aos-delay="250"
  >
    {{ subtitle }}
  </p>
</div>
