<div class="card shadow-sm border-0" [formGroup]="group">
  <div class="card-body">
    <h5 class="card-title mb-3">
      {{ question.displayOrder }}.
      {{ isArabicLang ? question.textAr : question.textEn }}
    </h5>
    <div class="d-flex gap-4 mb-3">
      <label class="radio-button" [for]="'yes-' + question.id">
        <input
          type="radio"
          [id]="'yes-' + question.id"
          [value]="true"
          formControlName="answer"
        />
        <span class="radio"></span>
        {{ "YES" | translate }}
      </label>

      <label class="radio-button" [for]="'no-' + question.id">
        <input
          type="radio"
          [id]="'no-' + question.id"
          [value]="false"
          formControlName="answer"
        />
        <span class="radio"></span>
        {{ "NO" | translate }}
      </label>
    </div>

    @if (group.controls.answer.touched && group.controls.answer.invalid) {
      <app-form-error-message
        [errorMessage]="'answer_is_required' | translate"
      ></app-form-error-message>
    }

    @if (
      group.controls.answer.value === true && question.requiresAdditionalText
    ) {
      <div class="mb-3">
        <label class="form-label">
          {{
            this.isArabicLang
              ? question.additionalTextLabelAr
              : question.additionalTextLabelEn ||
                (isArabicLang ? "معلومات إضافية" : "Additional Information")
          }}
        </label>
        <app-text-field
          [control]="group.controls.additionalText"
          type="text"
          prefixIcon="fas fa-info-circle"
        />
      </div>
    }
    @if (
      group.controls.additionalText.touched &&
      group.controls.additionalText.invalid
    ) {
      <app-form-error-message
        [errorMessage]="'this_field_is_required' | translate"
      ></app-form-error-message>
    }

    @if (
      group.controls.answer &&
      group.controls.answer.value === true &&
      question.requiresDateValue
    ) {
      <div class="mb-3">
        <label class="form-label">
          {{
            this.isArabicLang
              ? question.conditionalDateLabelAr
              : question.conditionalDateLabelEn ||
                (isArabicLang ? "اختر التاريخ" : "Select Date")
          }}
        </label>

        <app-date-text-field [control]="group.controls.conditionalDateValue" />
      </div>
    }

    @if (
      group.controls.conditionalDateValue.touched &&
      group.controls.conditionalDateValue.invalid
    ) {
      <app-form-error-message
        [errorMessage]="'Date_is_required' | translate"
      ></app-form-error-message>
    }
  </div>
</div>
