/* شكل زر السهم */
.campaigns-swiper::part(button-prev),
.campaigns-swiper::part(button-next) {
  color: var(--primary-color);
}

.campaigns-swiper {
  position: relative;
  --swiper-theme-color: var(--primary-color);
  background-color: var(--surface-card);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

/* نزّل النقاط لتحت */
.campaigns-swiper::part(pagination) {
  bottom: 20px;
}


@media (max-width: 768px) {
  .campaigns-swiper::part(pagination) {
    bottom: 0px;
  }

  .campaigns-swiper::part(button-prev),
  .campaigns-swiper::part(button-next) {
    display: none;
  }
}