<div class="form-container py-4 px-4 px-md-4">
  <form>
    <div class="row g-3">
      <div class="col-12 col-md-9">
        <!-- National ID Text Field -->
        <app-text-field
          [control]="nationalIdControl"
          type="text"
          placeholder="{{ 'National_ID_Placeholder' | translate }}"
          prefixIcon="fas fa-id-card"
          autocomplete="off"
          inputId="nationalId"
          maxLength="10"
          [isNumeric]="true"
        />
      </div>
      <div class="col-12 col-md-3 mb-3">
        <!-- Search Button -->
        <app-primary-button
          label="{{ 'Bring_BTN' | translate }}"
          type="submit"
          [disabled]="isLoading"
          [isLoading]="isLoading"
        />
      </div>
    </div>
    <div class="row g-3">
      <div class="col-12 col-lg-6">
        <!-- Name Text Field Arabic -->
        <app-text-field
          [control]="fullNameArControl"
          placeholder="{{ 'Full_Name_Ar_Placeholder' | translate }}"
          type="text"
          prefixIcon="fas fa-user"
          autocomplete="off"
          inputId="fullNameAr"
        />
        <!-- Blood Type Text Field -->
        <app-text-field
          [control]="bloodTypeControl"
          placeholder="{{ 'BLOOD_TYPE_PLACEHOLDER' | translate }}"
          type="text"
          prefixIcon="fas fa-tint"
          autocomplete="off"
          inputId="bloodType"
        />
        <!-- Gender Text Field -->
        <app-text-field
          [control]="genderControl"
          placeholder="{{ 'GENDER_PLACEHOLDER' | translate }}"
          type="text"
          prefixIcon="fas fa-solid fa-venus-mars"
          autocomplete="off"
          inputId="gender"
        />
        <!-- Email Text Field -->
        <app-text-field
          [control]="emailControl"
          type="email"
          placeholder="{{ 'EmailPlaceholder' | translate }}"
          prefixIcon="fas fa-envelope"
          autocomplete="off"
          inputId="email"
        />
        <!-- Address Text Field -->
        <app-text-field
          [control]="addressControl"
          type="text"
          placeholder="{{ 'ADDRESS_PLACEHOLDER' | translate }}"
          prefixIcon="fas fa-home"
          autocomplete="off"
          inputId="address"
        />
        <!-- Password Text Field -->
        <app-password-text-field
          [control]="passwordControl"
          placeholder="{{ 'PasswordPlaceholder' | translate }}"
          prefixIcon="fas fa-lock"
          autocomplete="current-password"
          inputId="password"
        />
      </div>

      <!--   col 2 -->

      <div class="col-12 col-lg-6">
        <!-- Name Text Field English -->
        <app-text-field
          [control]="fullNameEnControl"
          placeholder="{{ 'Full_Name_En_Placeholder' | translate }}"
          type="text"
          prefixIcon="fas fa-user"
          autocomplete="off"
          inputId="fullNameEn"
        />

        <!-- Birth Date Text Field -->
        <app-text-field
          [control]="birthDateControl"
          placeholder="{{ 'DATE_OF_BIRTH_PLACEHOLDER' | translate }}"
          type="text"
          prefixIcon="fas fa-calendar"
          autocomplete="off"
          inputId="birthDate"
        />
        <!-- Marital Status Text Field -->
        <app-marital-status-radio-group [control]="maritalStatusControl" />
        <!-- Phone Text Field -->
        <app-text-field
          [control]="phoneControl"
          type="text"
          placeholder="{{ 'PHONE_PLACEHOLDER' | translate }}"
          prefixIcon="fas fa-phone"
          autocomplete="off"
          inputId="phone"
          maxLength="10"
          [isNumeric]="true"
        />
        <!-- Job Text Field -->
        <app-text-field
          [control]="jobControl"
          type="text"
          placeholder="{{ 'JOB_PLACEHOLDER' | translate }}"
          prefixIcon="fas fa-briefcase"
          autocomplete="off"
          inputId="job"
        />
        <!-- Confirm Password Text Field -->
        <app-password-text-field
          [control]="confirmPasswordControl"
          placeholder="{{ 'CONFIRM_PASSWORD_PLACEHOLDER' | translate }}"
          prefixIcon="fas fa-lock"
          autocomplete="current-password"
          inputId="confirmPassword"
        />
      </div>
    </div>
    <!-- Terms and Conditions -->
    <div class="py-2">
      <app-check-box-input
        [control]="iAgreeControl"
        inputId="iAgree"
        label="{{ 'I_AGREE' | translate }} {{
          'TERMS_AND_PRIVACY' | translate
        }}"
        name="iAgree"
        data-aos="fade-down"
        data-aos-delay="400"
      ></app-check-box-input>
      <app-check-box-input
        [control]="iConfirmControl"
        inputId="iConfirm"
        label="{{ 'I_CONFIRM' | translate }}"
        name="iConfirm"
        data-aos="fade-down"
        data-aos-delay="400"
      ></app-check-box-input>
    </div>
    <!-- Submit Button -->
    <app-primary-button
      label="{{ 'SIGN_UP' | translate }}"
      type="submit"
      [disabled]="isLoading"
      [isLoading]="isLoading"
    />
  </form>
</div>
