.check-box-input input {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  accent-color: var(--primary-color);

}

.check-box-input label {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



.check-box-input label:hover {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}