<div
  class="container-fluid d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="row">
    <div class="col-12">
      <div class="auth-container" data-aos="fade-up" data-aos-delay="150">
        <!-- heading -->
        <app-user-auth-container-heading
          title="{{ 'NEW_PASSWORD_PAGE_TITLE' | translate }}"
          subtitle="{{ 'NEW_PASSWORD_PAGE_SUBTITLE' | translate }}"
        ></app-user-auth-container-heading>
        <!-- form -->
        <div class="form-container py-4 px-2">
          <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Password Text Field -->
            <app-password-text-field
              [control]="passwordControl"
              placeholder="{{ 'PasswordPlaceholder' | translate }}"
              prefixIcon="fas fa-lock"
              autocomplete="current-password"
              inputId="password"
            />
            <!-- Password Error Message -->
            @if (passwordControl.touched || passwordControl.dirty) {
              @if (passwordControl.hasError("required")) {
                <app-form-error-message
                  [errorMessage]="'PasswordIsRequired' | translate"
                ></app-form-error-message>
              }
              @if (passwordControl.hasError("pattern")) {
                <app-form-error-message
                  [errorMessage]="'PasswordStrengthError' | translate"
                ></app-form-error-message>
              }
            }
            <!-- Confirm Password Text Field -->
            <app-password-text-field
              [control]="confirmPasswordControl"
              placeholder="{{ 'ConfirmPasswordPlaceholder' | translate }}"
              prefixIcon="fas fa-lock"
              autocomplete="current-password"
              inputId="confirmPassword"
            />
            <!-- Confirm Password Error Message -->
            @if (
              confirmPasswordControl.touched || confirmPasswordControl.dirty
            ) {
              @if (confirmPasswordControl.hasError("required")) {
                <app-form-error-message
                  [errorMessage]="'ConfirmPasswordIsRequired' | translate"
                >
                </app-form-error-message>
              }
            }

            @if (newPasswordForm.hasError("passwordMismatch")) {
              <app-form-error-message
                [errorMessage]="'PasswordsDoNotMatch' | translate"
              >
              </app-form-error-message>
            }

            <!-- Submit Button -->
            <app-primary-button
              label="{{ 'SET_NEW_PASSWORD' | translate }}"
              type="submit"
              [disabled]="isLoading"
              [isLoading]="isLoading"
            />
            <!-- Error Message -->
            <!-- <div class="alert alert-danger container-error-message" role="alert">
      {{ "PasswordIsRequired" | translate }}
    </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
