/* auth style */
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  background-color: var(--surface-card);
}

@media (min-width: 577px) {
  .auth-container {
    width: 600px;
  }
}