<div
  class="container-fluid d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="row">
    <div class="col-12">
      <div class="auth-container" data-aos="fade-up" data-aos-delay="150">
        <!-- heading -->
        <app-user-auth-container-heading
          title="{{ 'LOGIN_PAGE_TITLE' | translate }}"
          subtitle="{{ 'LOGIN_PAGE_SUBTITLE' | translate }}"
        ></app-user-auth-container-heading>
        <!-- form -->
        <app-user-login-form></app-user-login-form>
        <!-- footer -->
        <app-user-auth-container-footer
          text="{{ 'LOGIN_PAGE_FOOTER_TEXT' | translate }}"
          linkText="{{ 'LOGIN_PAGE_FOOTER_LINK_TEXT' | translate }}"
          linkUrl="/user-auth/signup"
        ></app-user-auth-container-footer>
      </div>
    </div>
  </div>
</div>
